<%= render 'friends/lookup' %>

<% if @friendships.size > 0 %>
  <%= render 'friends/list' %>
<% else %>
  <div class="row col-lg-12">
    <div class="lead">
      You don't have any friends yet. Please add some!
    </div>
  </div>
<% end %>